.porfolio {
    display: flex;
    justify-content: center;
    margin: 200px 162px;
}

.porfolio_container {
    max-width: 1596px;
}

.porfolio_container img {
    width: 773px;
    height: 625px;
    margin-left: 50px;
}

.porfolio_container_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1c1c21;
    margin-bottom: 80px;
}

.porfolio_container_top > div {
    margin-bottom: 50px;
}

.porfolio_container_top_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.porfolio_container_top_buttons > button {
    margin-left: 30px;
}