/* Исправленные стили */
.ticker {
    display: flex;
    align-items: center;
    overflow: hidden; /* Скрываем выходящий контент */
    white-space: nowrap; /* Не переносим элементы */
    position: relative;
    padding: 20px;
    background-color: #1c1c21;
    border-bottom: 1px solid #32323a;
    border-top: 1px solid #32323a;
  }
  
  .ticker svg {
    width: 40px;
    height: 40px;
  }
  
  .tickerContent {
    display: flex;
    position: relative; /* Позиционирование для размещения блоков друг за другом */
    width: max-content; /* Растягиваем контейнер по содержимому */
  }
  
  .firstBlock,
  .secondBlock {
    display: flex;
    animation: scroll linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Перемещаем на половину длины всего контента */
    }
  }
  
  /* Сдвигаем второй блок вправо на длину первого */
  .secondBlock {
    margin-left: auto; /* Размещаем второй блок сразу за первым */
  }