/* Исправленные стили */
.ticker {
  display: flex;
  align-items: center;
  overflow: hidden; /* Скрываем выходящий контент */
  white-space: nowrap; /* Не переносим элементы */
  position: relative;
  padding: 20px 0px;
  background-color: #1c1c21;
  border-bottom: 1px solid #32323a;
  border-top: 1px solid #32323a;
}

.tickerItem {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Расстояние между элементами */
}

.ticker svg {
  width: 40px;
  height: 40px;
}

.tickerContent {
  display: inline-flex; /* Располагаем элементы в строку */
}
