.faq {
    display: flex;
    justify-content: center;
    margin: 200px 162px;
}

.faq_container {
    max-width: 1596px;
}

.faq_container img {
    width: 773px;
    height: 625px;
    margin-left: 50px;
}

.faq_container_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.faq_container_top_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.faq_container_top_buttons > button {
    margin-left: 30px;
}

.faq_container_view {
    display: flex;
    flex-direction: row;
}

.faq_container_view_left {
    border-right: 1px solid #1c1c21;
}