* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100%;
    width: 100%;
    background-color: #070708;
    color: white;
    user-select: none;
}

button {
    background-color: transparent; /* Убираем фон */
    border: none; /* Убираем рамку */
    padding: 0; /* Убираем внутренние отступы */
    box-shadow: none; /* Убираем тень */
    border-radius: 0;
}

@font-face {
    font-family: "manrope";
    src: url("./fonts/manrope.ttf");
}


h1 {
    font-family: manrope;
    font-size: 60px;
    font-weight: 600;
    line-height: 110px;
    color: #E4E4E6;
}

h2 {
    font-family: manrope;
    font-size: 58px;
    font-weight: 600;
    line-height: 80px;
    color: #ffffff;
}

h3 {
    font-family: manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    color: #797c86;
}

h4 {
    color: #cacace;
    font-family: manrope;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    margin-left: 10px;
}