.container {
    color: #AFB0B6;
    font-family: manrope;
    padding: 16px 24px;
    border-radius: 10px;
    margin-right: 40px;
    cursor: pointer;
    background-color: #2F2F37;
    font-size: 18px;
    font-weight: 500;
}

.container:hover {
    background-color: #36363f;
    color: white;
}