.container {
    color: white;
    font-family: manrope;
    padding: 16px 24px;
    border-radius: 10px;
    margin-right: 40px;
    cursor: pointer;
    background-color: #1C1C21;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.container:hover {
    background-color: #212127;
}