.main {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #1c1c21;
    align-items: center;
}

.text2 {
    display: flex;
    align-items: center;
    font-family: manrope;
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    color: #FFFFFF;
}